#!/usr/bin/env xdg-open
[Desktop Entry]

Type=Application

Version=1.0

Name=trinitrotoluol

Comment=a software for managing your supporters and your mailings
Path=/usr/bin/trinitrotoluol
Exec=trinitrotoluol
Icon=/usr/share/icons/hicolor/128x128/apps/trinitrotoluol_logo.ico
Terminal=false
Categories=Office
